# --- Python & Cache (Trash) ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# --- Django Essentials ---
# We REMOVED static/ and staticfiles/ from here so they ARE pushed to Git
media/
*.log
*.pot
*.sqlite3
db.sqlite3

# --- Migrations ---
# Keeping migrations is important for your team, but we ignore the cache
*/migrations/__pycache__/

# --- Secret Files ---
# NEVER push these (Security Risk)
.env
local_settings.py

# --- Heavy Files (Git constraints) ---
# Git does not support files >100MB easily.
*.mp4
*.mov
*.avi
*.mkv
*.zip
*.tar.gz

# --- System & IDE ---
.vscode/
.idea/
.DS_Store
Thumbs.db